<form action="/login/add" method="POST">
    <label for=""></label>
    <input name="user" type="text">
    <label for=""></label>
    <input name="password" type="password">
    <input type="submit" value="Signup">
    <input type="hidden" name="token" value="null">
</form>